<div>

<!-- <div class="jumbotron">

	  <h1>Project details</h1>
  <div><h2>{{project.sign}}</h2></div>
  <div><h2>{{project.title}}</h2></div>
</div>
 -->  
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Project details</h3>
  </div>
  <div class="panel-body">
  <h2>{{project.sign}}</h2>
  <h2>{{project.title}}</h2>
  </div>
</div>

 <button class="btn btn-primary" ng-click="show()">Show tasks of this project
  </button>
  <div ng-show = "value">
 <table class="table">
 <th>Title</th>
 <th>Description</th>
 <th>Priority</th>
 <th>Status</th>
 <th>Date created</th>
 <tr ng-repeat="task in project.tasks">
 <td>{{task.title}}</td>
 <td>{{task.description}}</td>
 <td>{{task.priority}}</td>
 <td>{{task.status}}</td>
 <td>{{task.createdAt}}</td>
 </tr>
 </table>
 
 <hr/>

<h1> Adding new task <h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Date</th>
           <!--  <th>&nbsp</th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input class="form-control" ng-model="task.title"></input>
            </td>
             <td>
                <input class="form-control" ng-model="task.description"></input>
            </td>
            <td>
            <select class="c-select" ng-model="task.priority">
              <option value="Blocker">Blocker</option>
              <option value="Critical">Critical</option>
              <option value="Major">Major</option>
              <option value="Minor">Minor</option>
              <option value="Trivial">Trivial</option>
          </select>
          </td>
          <td>
            <select class="c-select" ng-model="task.status">>
              <option value="To Do">To Do</option>
              <option value="In progress">In progress</option>
              <option value="Verify">Verify</option>
              <option value="Done">Done</option>
          </select>
          </td>
            <td>
            <button class="btn btn-primary" ng-click="addTask(project._id)">Add task
            </button>
            </td>
        </tr>
    </tbody>
</table>
 </div>
</div>

<!-- <div>
<h1> Adding new task <h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Status</th>
      <th>&nbsp</th>
            <th>&nbsp</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input class="form-control" ng-model="task.title"></input>
            </td>
            <td>
                <input class="form-control" ng-model="task.description"></td/input>
            </td>
      <td>
        <select class="c-select" ng-model="task.priority">
          <option value="Blocker">Blocker</option>
          <option value="Critical">Critical</option>
          <option value="Major">Major</option>
          <option value="Minor">Minor</option>
          <option value="Trivial">Trivial</option>
      </select>
      </td>
      <td>
        <select class="c-select" ng-model="task.status">>
          <option value="To Do">To Do</option>
          <option value="In progress">In progress</option>
          <option value="Verify">Verify</option>
          <option value="Done">Done</option>
      </select>

      </td>
            <td>
            <button class="btn btn-primary" ng-click="addTask()">Add Project
            </button>
            </td>
        </tr>
    </tbody>
</table>	
<p>
	<h1>Tasks</h1>
	<table class="table">
  <th>Title</th>
  <th>Description</th>
  <th>Priority</th>
  <th>Status</th>
  <th>Project</th>
  <th>&nbsp</th>
  		<tr ng-repeat="task in Task">
        <td>{{task.title}}</td>
         <td>{{task.description}}</td>
         <td>{{task.priority}}</td>
         <td>{{task.status}}</td>
         <td>{{task.project.id}}</td>
         <td><button class="btn btn-warning" ng-click="edit(task._id)">Edit</button></td>
          <td><button class="btn btn-danger" ng-click="remove(task)">Remove</button>
          </td>
        </tr>
	</table>
	</p>
</div> -->


<!-- 2. prica -->


