<div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Project details</h3>
  </div>
  <div class="panel-body">
  <h2>{{project.sign}}</h2>
  <h2>{{project.title}}</h2>
  </div>
</div>
 <button class="btn btn-primary" ng-click="show()">Show tasks of this project
  </button>
 <button class="btn btn-primary" ng-click="show2()">Show users of this project
  </button>
  <br/><br/>
  <div ng-show = "value">
 <h3>Tasks</h3>
 <table class="table">
 <th>Title</th>
 <th>Description</th>
 <th>Priority</th>
 <th>Status</th>
 <th>Date created</th>
 <th>Users</th>
 <th>&nbsp;</th>
 <th>&nbsp;</th>
 <th>&nbsp;</th>
 <tbody ng-repeat="task in project.tasks">
 <tr>
 <td>{{task.title}}</td>
 <td>{{task.description}}</td>
 <td>{{task.priority}}</td>
 <td>{{task.status}}</td>
 <td>{{task.createdAt}}</td>
 <td><ul ng-repeat="user in task.users"><li>{{}}</li></ul>
  <td><button class="btn btn-warning" ng-click="updateTaskShow(task._id)">Update task</button>
 <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
     <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><button class="btn btn-default" ng-click="deleteTask(task,project)">Delete task</button></li>
        <li role="menuitem"><button class="btn btn-default" ng-click="comment(task._id)">Comment</button></li>
      </ul>
    </div>
 </td>
 </tr>
  <tr ng-show ="commentId==task._id">
  <td colspan="3"><div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" ng-model="commentAdd.text" rows="3" cols="80" id="comment"></textarea><br/>
  <button type="button" class="btn btn-primary" ng-click="addComment(task._id)" ng-disabled="!commentAdd.text">Add comment</button>
  <br/><br/>
  <ul ng-repeat="comments in Comments">
  <li><div style="width:500px;max-width:500px;display:inline-block;background-color:lightgray;"><p>{{comments.text}}</p></div><p class="text-right">
  <i style="color:gray">by:{{comments.signedBy}}</i></p>
  <div>
  <button type="button" class="btn btn-danger" ng-click="deleteComment(comments._id,task._id)"
   ng-if="comments.signedBy === currentUser">Delete</button>
  <button type="button" class="btn btn-warning" ng-click="updateCommentShow(comments._id)"
   ng-if="comments.signedBy === currentUser">Update</button>   

  </div>
  </div>
<div ng-show="valueForUpdateComment">

<table class="table">
  
  <tbody>
      <tr >
          <td>
              <input class="form-control" ng-model="commentUpd.text"></input>
          </td>
         
          </td>
        <td><button class="btn btn-primary" ng-click="updateComment(task._id,commentUpd._id)">Update comment</button></td>
      </tr>
  </tbody>
</table>
</div>
  </li>
  </ul>
  </td>
</div>
</tr>
</tbody>
 </table> 
<div ng-show="valueForUpdateTask">
<h1> Update task <h1>
<table class="table">
  <thead>
      <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Status</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>
              <input class="form-control" ng-model="taskUpd.title"></input>
          </td>
          <td>
              <input class="form-control" ng-model="taskUpd.description"></input>
          </td>
           <td>
            <select class="form-control" ng-model="taskUpd.priority">
              <option value="Blocker">Blocker</option>
              <option value="Critical">Critical</option>
              <option value="Major">Major</option>
              <option value="Minor">Minor</option>
              <option value="Trivial">Trivial</option>
            </select>
          </td>
           <td>
            <select class="form-control" ng-model="taskUpd.status">>
              <option value="To Do">To Do</option>
              <option value="In progress">In progress</option>
              <option value="Verify">Verify</option>
              <option value="Done">Done</option>
          </select>
          </td>
        <td><button class="btn btn-primary" ng-click="updateTask(taskUpd._id)">Update task</button></td>
      </tr>
  </tbody>
</table>
</div>
 <br/><br/>

<div class="jumbotron">
<h1> Adding new task </h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Users</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input class="form-control" ng-model="task.title"></input>
            </td>
             <td>
                <input class="form-control" ng-model="task.description"></input>
            </td>
            <td>
            <select class="form-control" ng-model="task.priority">
              <option value="Blocker">Blocker</option>
              <option value="Critical">Critical</option>
              <option value="Major">Major</option>
              <option value="Minor">Minor</option>
              <option value="Trivial">Trivial</option>
          </select>
          </td>
          <td>
            <select class="form-control" ng-model="task.status">>
              <option value="To Do">To Do</option>
              <option value="In progress">In progress</option>
              <option value="Verify">Verify</option>
              <option value="Done">Done</option>
          </select>
          </td>
          <td>
         <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="user.repeatSelect">
        <option ng-repeat="user in project.users" value="{{user._id}}">{{user.username}}</option>
     </select>
         
          </td>
            <td>
            <button class="btn btn-primary" ng-click="addTask(project._id,user.repeatSelect)">Add task
            </button>
            </td>
        </tr>
    </tbody>
</table>
 </div>
 </div>

<div ng-show="value2">
<h3>Users</h3>
<table class="table">  
   <th>Username</th>
   <th>&nbsp;</th>
   <tr ng-repeat="user in project.users">
   <td>{{user.username}}</td>
    <td>&nbsp;</td>
   <td>{{user.role}}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
   <td><button class="btn btn-danger" ng-click="deleteUserFromProject(user._id,project._id)">Remove</button></td>
   </tr>

 </table>
 <hr/>
 <br/>
 <div class="jumbotron">
  <form name="myForm">
    <label for="repeatSelect"> Choose users: </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="user.repeatSelect">
      <option ng-repeat="user in User" value="{{user._id}}">{{user.username}}</option>
    </select>
  </form>
  <hr/>
   <button class="btn btn-primary" ng-click="addUserToProject(project._id,user.repeatSelect)">Add</button>
</div>

  </div>

</div>
</div>